.delivery-collectons{
    background-color: var(--inactive-color);
    width: 100%;
    padding: 40px 0;
}

@media (max-width:769px){
    .delivery-collectons{
        padding: 15px;
        width: auto;
    }
}